<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.POSConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=POS;Persist Security Info=True;User ID=dbapp;Password=mar"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>